* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header {
    text-align: center;
    height: 600px;
    width: auto;
    background-image: url(../images/codingbackground.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    -webkit-text-stroke: 2px rgb(24, 0, 160);
    color: rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    left: 450px;
    text-shadow: 3px 3px 7px darkred;
}

header img {
    position: relative;
    height: 700px;
    top: -100px;
    -webkit-filter: drop-shadow(15px 15px 15px darkred);
}

header div {
    display: inline;
    position: relative;
    height: 65px;
    width: 75%;
    padding: 10px;
    border: 10px solid navy;
    margin: auto;
    bottom: 205px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: inline;
}



header nav li {
    display: inline-block;
}

header nav ul li a {
    padding: 10px 15px;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 5px;
    font-weight: lighter;
    font-size: 2vw;
    color: white;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

a:active {
      color:red;
  }

.summary-box {
    color: black;
    color: red;
    -webkit-text-stroke: rgb(0, 0, 0) 2px;
    font-size: 25px;
    width: 500px;
    height: 250px;
    margin: 100px auto 100px auto;
    padding-bottom: 20px;
    border: 4px solid navy;
    border-bottom: 7px solid navy;
    background-image: url(../images/codingbackground.webp);
    background-size: auto;
    float: none;
    text-align: center;
}

.summary-box img {
    height: -1100px;
    width: 400px;
    position: relative;
    align-self: center;
    left: 10px;
    bottom: -10px;
    text-align: center;
}

.line-break {
    border: 2px solid blue;
    width: 90%;
    margin: auto;
    background-color: blue;
 }

 .ted-image {
     margin: 25px 30px 0 20px;
     position: relative;
     top: -30px;
     width: 350Spx;
     height: 450px;
     float: left;
     padding: 20px;
     border: 10px solid navy;
     border-radius: 25px;
     background-color: red;
 }

.tedinfo {
    float: left;
    width: 55%;
    height: 400px;
    padding: 50px;
    border: 2px solid darkred;
    top: 30px;
    margin: 0 auto 70px 0px;
    background-color: royalblue;
    left: 100px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    flex: 1;
  }

  footer {
      background-color: navy;
      margin: auto;
      height: 100px;
      position: relative;
      border: 5px solid darkred;
  }