/* Universal Styling */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body Styling */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/* Header Styling */

header {
    position: relative;
    text-align: center;
    height: 100px;
    justify-content: center;
    border: 2px solid darkred;
    background-image: url(../images/codingbackground.webp);
    background-size: cover;
}


header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    -webkit-text-stroke: 2px rgb(24, 0, 160);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 7px darkred;
    text-align: center;
    margin: auto;
}


header nav ul {
    width: 75%;
    padding: 10px;
    border: 10px solid navy;
    margin: 0 auto 100px auto;
    bottom: 50px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

header nav li {
    display: inline-block;
}

header nav ul li a {
    padding: 10px 15px;
    border: 1px solid rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 2vw;
    color: white;
    background-color: black;
  }


.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.line-break {
    border: 2px solid blue;
    width: 100%;
    background-color: blue;
    margin-top: 70px;
 }

.images {
    width: 350px;
    height: 450px;
    border: 3px solid navy;
}

.summary-box {
    color: black;
    color: red;
    -webkit-text-stroke: rgb(0, 0, 0) 2px;
    font-size: 25px;
    width: 400px;
    height: 200px;
    margin: 100px auto 100px auto;
    border: 4px solid navy;
    background-image: url(../images/codingbackground.webp);
    background-size: auto;
    text-align: center;
}

.batlink { 
    height: 150px;
    width: 300px;
}

.batlink:hover {
    filter: drop-shadow(15px 15px 15px darkred);
}

article {
    box-sizing: border-box;
    width: 70%;
    padding: 50px;
    border: 2px solid darkred;
    background-color: royalblue;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
  }

  article h2 {
      color: darkred;
      -webkit-text-stroke: 1px solid black;
      margin-bottom: 20px;
  }

  .run-buddy-text {
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    color: #fce138;
    -webkit-text-stroke: 2px navy;
    position: relative;
    bottom: 50px;
    left: 80px;
    margin-bottom: -100px;
}

#contact nav ul {
    width: 75%;
    padding: 10px;
    border: 10px solid navy;
    margin: 0 auto 100px auto;
    bottom: 50px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

#contact nav li {
    display: inline-block;
}

#contact nav ul li a {
    padding: 10px 15px;
    border: 1px solid rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 2vw;
    color: white;
    background-color: black;
  }


footer {
    background-color: navy;
    background-image: url(../images/codingbackground.webp);
    background-size: cover;
    margin: auto;
    height: 100px;
    border: 5px solid darkred;
    text-align: center;
}

@media only screen and (min-width: 986px) and (max-width: 1280px){

    header h1 {
        left: 250px;
    }

    article {
        width: 100%;
        margin-bottom: 60px;
        float: right;
    }

}


@media only screen and (min-width: 768px) and (max-width: 985px){

    header {
      width: 100%;  
    } 

    header div {
        top: 100px;
        right: 20px;
    }

    header h1 {
        left: 40px;
    }

    .about {
        flex-direction: row;
    }
    
    article {
        float: right;
        width: 100%;
        bottom: 100px;
        margin-bottom: 60px;
        text-align: right;
        }

    .line-break {
        width: 100%;
    }

    .summary-box {
        left: -300px;
    }

    .applications {
        margin: 0 0 0 10px;
    }

    .run-buddy-text {
        left: 30px;
    }

    .images {
        height: 350px;
        width: 250px;
    }
}
    
@media only screen and (min-width:414px) and (max-width:767px) {

    header {
        height: 100px;
        margin-bottom: 500px;
    }

    header h1 {
        left: 70px;
        font-size: 20px;

    }

   header nav ul {
       flex-direction: column;
       margin-top: 100px;
   }

   header nav ul li {
       margin-bottom: 30px;
       margin-top: 20px;
   }

    header nav ul li a {
        right: 0px;
        top: 10px;
        font-size: 25px;
      }

    footer {
        width: 100%;
        right: -3px;
    }


    .images {
        width: 350px;
        height: 450px;
         position: static;
    }


    article {
        width: 100%;
    }

    article h2 {
        font-size: 23px
    }

    .run-buddy-text {
        display: none;
    }

    #contact nav ul {
        flex-direction: column;
        align-items: center;
    }
 
    #contact nav ul li {
        margin-bottom: 30px;
        margin-top: 20px;
    }
 
     #contact nav ul li a {
         right: 0px;
         top: 10px;
         font-size: 25px;
       }

      .flex-row {
          flex-direction: column;
          align-items: center;
      }
}

@media only screen and (min-width:375px) and (max-width: 413px) {
    header {
        height: 100px;
        margin-bottom: 500px;
    }

    header h1 {
        left: 70px;
        font-size: 20px;

    }

   header nav ul {
       flex-direction: column;
       margin-top: 100px;
   }

   header nav ul li {
       margin-bottom: 30px;
       margin-top: 20px;
   }

    header nav ul li a {
        right: 0px;
        top: 10px;
        font-size: 25px;
      }

    footer {
        width: 100%;
        right: -3px;
    }


    .images {
        width: 350px;
        height: 450px;
         position: static;
    }


    article {
        width: 100%;
    }

    article h2 {
        font-size: 23px
    }

    .run-buddy-text {
        display: none;
    }

    #contact nav ul {
        flex-direction: column;
        align-items: center;
    }
 
    #contact nav ul li {
        margin-bottom: 30px;
        margin-top: 20px;
    }
 
     #contact nav ul li a {
         right: 0px;
         top: 10px;
         font-size: 25px;
       }

      .flex-row {
          flex-direction: column;
          align-items: center;
      }
}

@media only screen and (min-width:280px) and (max-width: 374px) {

    header {
        height: 100px;
        margin-bottom: 500px;
    }

    header h1 {
        left: 70px;
        font-size: 20px;

    }

   header nav ul {
       flex-direction: column;
       margin-top: 100px;
   }

   header nav ul li {
       margin-bottom: 30px;
       margin-top: 20px;
   }

    header nav ul li a {
        right: 0px;
        top: 10px;
        font-size: 25px;
      }

    footer {
        width: 100%;
        right: -3px;
    }


    .images {
        width: 250px;
        height: 350px;
         position: static;
    }

    .summary-box {
        height:150px;
        width: 250px;
        align-items: center;
    }

    .summary-box h2 {
        font-size: 30px;
    }

    .batlink {
        display: none;
    }


    article {
        width: 100%;
    }

    article h2 {
        font-size: 23px
    }

    .run-buddy-text {
        display: none;
    }

    #contact nav ul {
        flex-direction: column;
        align-items: center;
    }
 
    #contact nav ul li {
        margin-bottom: 30px;
        margin-top: 20px;
    }
 
     #contact nav ul li a {
         right: 0px;
         top: 10px;
         font-size: 25px;
       }

      .flex-row {
          flex-direction: column;
          align-items: center;
      }
}

  